/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.quiz-container {
    background-color: aliceblue;
    color: rgb(158, 190, 106);
    padding: 20px;
    border-radius: 10px;
}

.padding20px {
    padding: 20px;
}