/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Page body  */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2%;
}

#quizbox {
  background-color: aliceblue;
  width: 80%;
  max-width: 600px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
}

.quizcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#options {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #0c3865;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  min-width: 120px;
  margin-top: 10px;
}

.button:hover {
  background-color: #5a8cc1;
}

/* General formatting */
.bluecolor {
  color: #0c3865;
}

.padding20px {
  padding: 20px;
}

.padding5px {
  padding: 5px;
}

/* Result page */
.result-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
}

#result {
  font-size: 20px;
  margin-bottom: 20px;
}
