/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 2%;
}

main {
    background-color: aliceblue;
    width: 80%;
    border-radius: 30px;
    
}

.padding20px {
    padding: 20px;
}

.paddingbottom5px {
  padding-bottom: 5px;
}

.quiz-container {
   

}